
<p>This is my website.  A place to test stuff out and make posts about said stuff or any other random stuff that enters my head.</p>

<p style="font-weight: bold;">Most recent post:</p>

<%= render @most_recent_post %>

<script>
  $( document ).ready(function() {
    // process the pre code tags
    hljs.initHighlightingOnLoad();
  });
</script>