
<style>
  .post{
    font-size: 16px;
    padding: 10px 20px 10px 20px;
  }
</style>

<div class="container-fluid">
  <h1>Mike Sakata</h1>

  <div class="center hero-unit post">
    <div class="pull-right">Oct 6, 2013</div>
    <h4>First test post</h4>
    <p>This is where the smart stuff goes!</p>
    <code>Test Code Line</code>
    <br>
    <pre>
      Test code in a pre section
      with multiple lines
    </pre>
  </div>


</div>